@charset "utf-8";

img {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
    margin: auto;
}

p {
    text-align: justify;
    margin: 10px 0;
}


/* Scroll elements formatting */

scroll-scene {
    display: block;
    min-height: 60vh;
    opacity: 50%;
    z-index: 999;
    transition: opacity 250ms ease-in-out;
}

.is-active {
    opacity: 100%;
}


.side-by-side {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.side-by-side scroll-scene {
    padding: 5vh 5vw;
}

.side-by-side scroll-scene:last-child {
    min-height: 100vh;
}

.side-by-side figure, .full figure {
    position: sticky;
    height: 100vh;
    top: 0;
    padding: var(--bulma-navbar-height) 0;
    max-width: 100%;
    transition: opacity 300ms ease-in-out;
}

/* Graphiques "à l’intérieur" du texte d’un side by side */
.sbs-inside-chart {
    max-width: 60vw; /* Une taille maximale, sinon sur mobile ils deviennent énormes */
}

.chart {
    display: flex;
    align-content: center;
    height: 100%;
    width: 100%;
    padding: 10% 5%;
}


.full {
    min-height: 100vh;
    padding: 20px 0;
}

.full figure {
    z-index: -999;
}

.full figure > img {
    display: block;
    height: 100%;
    margin: auto;
}

.full scroll-scene > div {
    max-width: 25vw;
    width: fit-content;
    margin: auto auto;
}


.paging {
    min-height: 100vh;
}

/* Media queries */

@media (max-aspect-ratio: 4/5) {
    .side-by-side {
        grid-template-columns: auto;
        grid-template-rows: 33vh auto;
    }
    .side-by-side figure {
        grid-row-start: 1;
        height: 100%;
        padding: var(--bulma-navbar-height) 0 0;
    }
    .side-by-side .chart {
        padding: 0;
    }
    .side-by-side scroll-scene {
        padding-top: 33vh;
    }

}

@media (orientation: portrait) {
    .full scroll-scene > div {
        max-width: 37vw;
    }
}

@media (width < 900px) {
    .full scroll-scene > div {
        max-width: 37vw;
    }
}

@media (width < 700px) {
    .full scroll-scene > div {
        max-width: 50vw;
    }
}